.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main {
  flex: 1 0 auto;
  padding: var(--space-4) 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: var(--container-xl);
  margin: 0 auto;
  padding: 0 var(--space-3);
}

@media (min-width: 768px) {
  .main {
    padding: var(--space-8) 0;
  }
  
  .container {
    padding: 0 var(--space-8);
  }
}
